{% extends 'base.html.twig' %}

{% block title %}Magasin index{% endblock %}

{% block body %}
    <h1>Liste des magasins</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for magasin in magasins %}
            <tr>
                <td>{{ magasin.nom }}</td>
                <td>
                    <a href="{{ path('magasin_show', {'id': magasin.id}) }}">Vers le magasin</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <!-- <a href="{{ path('magasin_new') }}">Create new</a> -->
{% endblock %}
