{% extends 'base.html.twig' %}

{% block title %}Reservation index{% endblock %}

{% block body %}
    <h1>Reservation</h1>

    <h2>Vos Commandes</h2>
    <table>
        <thead>
            <tr>
                <th>Magasin</th>
                <th>Article</th>
                <th>Quantité</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for commande in commandes %}
                <tr>
                    <td>{{commande.stock.magasin.nom}}</td>
                    <td>{{commande.stock.article.nom}}</td>
                    <td>{{commande.quantite}}</td>
                    <td><a href="">Réserver</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
