{% extends 'base.html.twig' %}

{% block title %}Message index{% endblock %}

{% block body %}
    <h1>Mes messages</h1>

    {% for message in messages %}
        <p>{{message.message}}</p>
    {% endfor %}

{% endblock %}
