{% extends 'base.html.twig' %}

{% block title %}New Message{% endblock %}

{% block body %}
    <h1>Envoyer un message</h1>

    {{ include('message/_form.html.twig') }}

    <a href="{{ path('message_index') }}">Retour</a>
{% endblock %}
